<div class="about-section tap">
    <h1>الوسيط لتقنية المعلومات </h1>
    <p>موسسة خدمات الوسيط لتقنية المعلومات </p>
    <p>للتقديم خدمات وبرامج و حلول شاملة ومتكاملة في مجال تكنولوجيا المعلومات التي حظيت باقبال كبير من العملاء </p>
  </div>
  
  
  <div class="row" style="width:100% ;" >
    <div class="column" >
      <div class="card " style="width:70% ;margin-right: 15%;" >
        <img src="/assets/image/im1.png" alt="Jane" style="width:100%;height: 350px;" >
        <div class="container">
          <h2>البسيط موبايل</h2>
          <p class="title">البسيط موبايل</p>
          <p>تطبيق نقاط بيع لخدمه البائع المتجول</p>
          <p>للمخابز وشركات الالبان والمواد الغذائيه</p>
          <p><button class="button"  (click)="connected()" >للتواصل</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card" style="width:70% ;">
        <img src="/assets/image/im5.png" alt="Mike" style="width:100% ">
        <div class="container">
          <h2>حقيبة البرامج المحاسبية</h2>
          <p class="title">البرامج المحاسبيه</p>
          <p>باقه من التطبيقات والبرامج المحاسبيه والماليه لاداره الانشطه لالاقتصاديه والتجاره الالكترونيه ومراقبه المخزون والموارد البشريه </p>
       
          <p><button class="button" (click)="connected()" >للتواصل</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card" style="width: 70%;">
        <img src="/assets/image/im3.png" alt="John" style="width:75% ;height: 360px;">
        <div class="container">
          <h2>البسيط كلاود</h2>
          <p class="title">كلاود</p>
          <p>وفرنا نسخه تجريبيه سحابيه من برنامج البسيط المحاسبي </p>
      
          <p><button class="button"  (click)="connected()" >للتواصل</button></p>
        </div>
      </div>
    </div>
  </div>