<div class="alert alert-success alert-dismissible fade  show" style="direction:rtl" role="alert"
  *ngIf="message != null && message != ''">
  <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container register " style="direction: rtl">
  <div class="row">
    <div class="col-md-3 register-left showlog">
      <img src="/assets/image/logo.png" alt="" />
      <h3 id="color"> مرحبا بك في الوسيط نت !</h3>
   
      <input type="submit" name="" value="الانضمام الينأ   " />
      <br />

    </div>
    <div class="col-md-9 register-right">
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home1"
            (click)="showUser()" aria-selected="false">مستخدم</a>
        </li>


      </ul>
      <div class="tab-content" id="myTabContent">
        <form [formGroup]="userForm" (ngSubmit)="register()">
          <div class="tab-pane fade show  active   " *ngIf="this.showReUser" id="home1" role="tabpanel"
            aria-labelledby="home-tab">
            <br>
            <h3 class="register-heading head ">تسجيل  الدخول </h3>
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group ">
                 
                  <input type="user_name" formControlName="user_name" class="form-control" id="user_name" required placeholder=" user_name">
                  <div class="text-danger" *ngIf="this.userForm.get('user_name')?.invalid && this.userForm.get('user_name')?.touched">
                      <div class="text-danger" *ngIf="this.userForm.get('user_name')?.errors">
                          {{messageValidate.user_name.required}}
                      </div>
                  </div>
                </div>

                <div class="form-group" >
                  <input type="password" class="form-control" required  formControlName="password"
                    placeholder="كلمة المرور " value="" [ngClass]="{
                                              'is-invalid':
                                                this.userForm.get('password').invalid &&
                                                this.userForm.get('password').touched
                                            }" />
                  <div class="text-danger" *ngIf="
                                              this.userForm.get('password').invalid &&
                                              this.userForm.get('password').touched
                                            ">
                    <div *ngIf="this.userForm.get('password')?.errors">
                      كلمه المرور مطلوبه
                    </div>
                   
                  </div>

                </div>

                <input type="submit" class="btnRegister  btn" [disabled]="userForm.invalid" value="تسجيل" />
              </div>
             
            </div>
            
          </div>
        </form>

        <!-- تسجيل طبيب -->



      </div>
   
      <!-- <input type="submit" name="" value="الانضمام الينأ   " /> -->
    </div>
    <!-- <div  class="register-right">
      <input type="submit" name="" value="الانضمام الينأ   " />

    </div> -->
  </div>

</div>